<!DOCTYPE html>
<html lang="en">

<head>
    <title>Slate Workspace</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#000000" />
    <link rel="icon" href="/favicon.ico">
    <!--TODO: Remove this in favor of a bundled npm build ..-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@excalidraw/excalidraw/dist/prod/index.min.css" />
    <script>
        window.EXCALIDRAW_ASSET_PATH = "https://cdn.jsdelivr.net/npm/@excalidraw/excalidraw/dist/prod/";
        // window.SKETCH_ASSET_PATH = "/";
    </script>
    <script type="module" src="draw.tsx" defer></script>
</head>

<body>
    <div id="root" class="app container">
        <noscript>
            <em>JS Req. *sad*</em>
        </noscript>
    </div>
</body>

</html>