import "../../services/sketch/spec/network/Caddyfile"

slate.brainbow.local {
	reverse_proxy localhost:8000
}

*.slate.brainbow.local {
	reverse_proxy localhost:8000
}

admin.slate.brainbow.local {
	reverse_proxy localhost:9000
}
