#![allow(unused)]

use std::sync::atomic::AtomicUsize;
use std::sync::atomic::Ordering;
use std::sync::Arc;
use std::process::ExitCode;
use std::path::PathBuf;
use std::ffi::CString;

use core::ffi::CStr;

use reclab::runtime::ffi::CSendBroadcastOptions;
use anyhow::Result;

use cwrap::error::CStringError;

use reclab::runtime::RuntimeError;
use reclab::tracing::ffi::CJsRuntimeLogLevel;
use reclab::runtime::ffi::CScriptRuntimeConfig;
use reclab::runtime::ffi::CConstructRuntimeResultCode;
use reclab::runtime::ffi::CExecModuleOptions;

//---
/// TODO: Remove `swc_ecma_codegen` when we've resolved the sourcemap error.
const TRACING_FILTER: &str = "reclab-dashboard=trace,reclab=trace,swc_ecma_codegen=off,warn";

//---
fn main() -> Result<ExitCode> {
    // Step 1:
    //  Setup logging facilities, etc.
    reclab::tracing::mount(TRACING_FILTER);
    
    #[cfg(feature = "verbose")]
    tracing::debug!("Starting new Runtime thread ..");
    
    unsafe {
        // Step 2:
        //  Setup runtime configuration. This usually involves creating an 
        //  ffi manager which interns strings/function pointers, etc, and 
        //  provides a public api for the rest of your code to interact with 
        //  it safely and efficiently.
        //  
        //  *Hint: Official runtimes (mostly) do this for you.*
        //  
        //  In Unity, the values for these config items are managed by the 
        //  editor/asset database and passed to `RecLabPlugin` when we 
        //  setup a new script mount context.
        //  
        //  Note: In the future, some of these values will likely probably
        //  be pulled directly from Deno (+other) configs.
        let work_dir = PathBuf::from(std::env!("CARGO_MANIFEST_DIR"));
        let root_dir = cwrap::try_cstring_from_path(work_dir.as_path())?;
        let main_module_path = CString::new("./examples/dashboard/main.js")?;
        let db_dir = CString::new("./examples/dashboard/db")?;
        let log_dir = CString::new("./examples/dashboard/logs")?;
        let thread_prefix = CString::new("ABY_RUNTIME_DASHBOARD_EXAMPLE")?;
        let inspector_name = CString::new("Aby Runtime Inspector (Dashboard)")?;
        let inspector_addr = CString::new("127.0.0.1:9222")?;
        
        // Step 3:
        //  Construct the runtime. Will mount resources and otherwise "warm up"
        //  the runtime for other options (like module execution).
        let c_runtime_config = CScriptRuntimeConfig {
            root_dir: root_dir.as_ptr(),
            main_module_specifier: main_module_path.as_ptr(),
            db_dir: db_dir.as_ptr(),
            log_dir: log_dir.as_ptr(),
            log_level: CJsRuntimeLogLevel::Trace,
            log_callback_fn: example_log_callback,
            inspector_name: inspector_name.as_ptr(),
            inspector_addr: inspector_addr.as_ptr(),
            inspector_wait: false,
        };
        
        let c_result = reclab::runtime::ffi::c_construct_script_runtime(c_runtime_config);
        let mut runtime = match c_result.code {
            CConstructRuntimeResultCode::Ok => c_result.runtime,
            _ => return Err(anyhow::Error::msg(format!("c_construct_script_runtime failed (code {:?})", c_result.code))),
        };
        
        // Step 4:
        //  Send a message to the Runtime to be collected on startup ..
        let broadcast_name = CString::new("RECLAB_MESSAGES")?; // TODO: Get from config ..
        let broadcast_data: &[u8] = b"..."; // TODO: Use actual data ..
        
        let c_broadcast_options = CSendBroadcastOptions {
            name: broadcast_name.as_ptr(),
            data: broadcast_data.as_ptr(),
            length: broadcast_data.len(),
        };
        
        reclab::runtime::ffi::c_send_broadcast(runtime, c_broadcast_options);
        
        // Step 5:
        //  Start the global `MainWorker`. Status 0 is good, 1+ is bad.
        let c_exec_options = CExecModuleOptions {
            module_specifier: main_module_path.as_ptr(),
        };
        
        let status = reclab::runtime::ffi::c_exec_module(&mut *runtime, c_exec_options);
        tracing::info!("AbyRuntime exited with status {:?}", status);
        
        // Yay! <3
        Ok(ExitCode::SUCCESS)
    }
}

//---
// TODO: Binding generator macro for c-safe functions.
// Turn this:
// #[cwrap::bind(extern "C" reclab; panic=true)]
fn wrapped_log_callback(message: &str) {
    tracing::trace!("[Capt'd] {:}", message);
}
// .. into something like this:
extern "C" fn example_log_callback(level: CJsRuntimeLogLevel, message: *const core::ffi::c_char) {
    unsafe {
        if !message.is_null() {
            let c_str =  CStr::from_ptr(message);
            let message = c_str.to_str().expect("Failed to unpack log message!");
            wrapped_log_callback(message);
        }
    }
}
// TODO
extern "C" fn example_error_report_callback(message: *const core::ffi::c_char) {
    example_log_callback(CJsRuntimeLogLevel::Error, message)
}
