<template use="default" />

<script type="module" defer>
    import { StrictMode } from "react";
    import { createRoot } from "react-dom/client";
    
    import SketchEditor from "./views/editor/sketch.tsx";
    
    function openResource(element) {
    // console.warn("Function not implemented.");
    }
    
    function loadScene() {
    // console.warn("Function not implemented.");
    }
    
    function updateDocument(changeEvent) {
    // console.warn("Function not implemented.");
    }
    
    //---
    const documentRoot = document.getElementById("document-root");
    createRoot(documentRoot).render(
        <StrictMode>
            <SketchEditor
                $store={undefined}
                displayName="Sketch"
                loadSketch={true}
                saveSketch={true}
                onOpenResource={openResource}
                onSceneReady={loadScene}
                onChange={updateDocument}
            />
        </StrictMode>,
    );
</script>

<div id="document-root" class="sketch">
    <!--TODO-->
</div>

<style>
    
</style>