dev.brainbow.local {
	reverse_proxy localhost:3000
}

#--
# TODO: Send deprecation header ..
sketch.brainbow.local {
	reverse_proxy localhost:3000
}

draw.brainbow.local {
	reverse_proxy localhost:3000
}
